 <div class="login-wrapper">
              <form class="login">
                  <label class="title">
                      Empresa Movil<span class="trademark">&#8482;</span>
                      Baby Care
                  </label>
                  <div class="login-group">
                      <div class="auth-source select">
                          <select id="login-auth-source-1">
                              <option>Usuario Local</option>
                              <option>Administrador</option>
                          </select>
                      </div>
                      <input class="username" type="text" id="login_username" placeholder="Username">
                      <input class="password" type="password" id="login_password" placeholder="Password">
                      <div class="checkbox">
                          <input type="checkbox" id="rememberme">
                          <label for="rememberme">
                              Recordarme
                          </label>
                      </div>
                      <div class="error active">
                          Usuario o password invalido
                      </div>
                      <button type="submit" class="btn btn-primary">Ingresar!!</button>
                      <a href="..." class="signup">Registrate para una cuenta gratis!</a>
                  </div>
              </form>
          </div>
      
